*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 100vh;
    background-color:brown;
}

header .header{
    width: 85%;
    height: 20%;
    color: white;
    margin: auto;
     display: flex;
    justify-content:space-between;
    align-items: center;
}

header .header nav ul {
    display: flex;
    list-style: none;
}

header .header nav ul li{
    margin: 10px;
}
